h2 {
  font-weight: 800;
}
h3 {
  text-align: center;
}
h5 {
  text-align: right;
  font-weight: 300;
  font-size: 18px;
}

input {
  vertical-align: top;
}

footer {
  text-align: center;
}
body {
  background: #ffedff;
}

.searchbar {
  right: 0%;
  border: 1px;
  border-color: black;
  margin: 0px 5px;
}
.searchglass {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  bottom: 28px;
  left: 150px;
}
.container {
  margin-top: 20px;
  font-family: "Nunito", sans-serif;
  max-width: 600px;
}
.days {
  text-align: center;
  font-size: 12px;
}
.body {
  padding: 15px;
}

.celFahChange {
  font-size: 12px;
  color: blue;
  text-align: left;
}

.celsius {
  position: relative;
  bottom: 15px;
  right: 10px;
}

.fahrenheit {
  position: relative;
}
.celFahChange:hover {
  cursor: pointer;
}
.currentCity,
#weatherType {
  text-transform: capitalize;
}
#currentButton {
  border-radius: 4px;
  display: inline;
  background: #ff9776;
  padding: 2px 5px;
  margin: 1px 5px;
  border: none;
}
